/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    errorStrategy = 'ignore'

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'GET_CHROMOMOSOME_SIZES' {
        publishDir = [
            path: { "${params.outdir}/hg38_reference_files" }        
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'FASTP' {
        ext.args = { " --adapter_sequence=AGATCGGAAGAGCACACGTCTGAACTCCAGTCA --adapter_sequence_r2=AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT " }
    }

    withName: 'BWA_MEM' {
        ext.prefix = { "${meta.id}_not_processed" }
        ext.args = "-Y"

    }

    withName: 'SAMTOOLS_SORT_RAW' {
        ext.prefix = { "${meta.id}_raw" }
    }

    withName: 'SAMTOOLS_INDEX_RAW' {
        ext.prefix = { "${meta.id}_raw" }
    }

    withName: 'SAMTOOLS_SORT' {
        ext.prefix = { "${meta.id}_processed" }
    }

    withName: 'SAMTOOLS_INDEX' {
        ext.prefix = { "${meta.id}_processed" }
    }

    withName: 'SAMTOOLS_COVERAGE' {
        ext.prefix = { "${meta.id}_coverage_stats" }
    }

    withName: 'GET_READ_IDS_FROM_BAM' {
        publishDir = [
            path: { "${params.outdir}/get_read_ids" }
        ]
    }

    withName: 'SUBSET_BAM_READ_IDS' {
        ext.prefix = { "${meta.id}_NOT_methylated" }
        publishDir = [
            path: { "${params.outdir}/subset_bam_reads" }        
        ]
    }

    withName: 'SIZE_SELECTION' {
        ext.prefix = { "${meta.id}_size_selected" }
        ext.args = { " -h " }
        publishDir = [
            path: { "${params.outdir}/size_selection" }        
        ]
    }

    withName: 'SAMBAMBA_MARKDUP' {
        ext.suffix = { "removed_duplicates.bam" }
        ext.args = { " -r --show-progress" }
    }

    withName: 'REMOVE_READ_LOW_MAPQ' {
        ext.prefix = { "${meta.id}_removed_low_mapq" }
        publishDir = [
            path: { "${params.outdir}/size_selection" }        
        ]
    }

    withName: 'BEDTOOLS_INTERSECT' {
        ext.prefix = { "${meta.id}.removed_blacklist" }
        ext.args = " -v "
    }

    withName: 'SUBSAMPLE_BAM' {
        publishDir = [
            path: { "${params.outdir}/samtools" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SUBSAMPLE' {
        ext.prefix = { "${meta.id}_subsample_${meta.subsample_fraction}" }
        publishDir = [
            path: { "${params.outdir}/subsample_${meta.subsample_fraction}" }        
        ]
        ext.args = { " --subsample ${meta.subsample_fraction} " }
    }

    withName: 'HMMCOPY_READCOUNTER' {
        ext.args = "--window 1000000 --quality 10 --chromosome chr1,chr2,chr3,chr4,chr5,chr6,chr7,chr8,chr9,chr10,chr11,chr12,chr13,chr14,chr15,chr16,chr17,chr18,chr19,chr20,chr21,chr22,chrX,chrY"
    }

    withName: 'ICHORCNA_RUN_CUSTOM' {
        ext.args = " --chrTrain 'c(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,20,21,22)'  --genomeBuild 'GRCh38' --normal 'c(0.5, 0.6)'"
        publishDir = [
            path: { "${params.outdir}/ichorcna" }        
        ]
    }
}
